
// Set of colors
$white: #fff;
$dark-white: #ddd;
$black: #000;
$gray: #222;
$soft-red: #e50f0f;
$light-red: #ee243c;
$dark-orange: #b6513b;
$dark-deg1: #0c0b09;
$dark-deg2: #0e0d0b;
$dark-deg3: #120e0b;
$background: #1b1813;
$light-gray: #505e7c;

// Transitions
$transition: all .3s ease;

// Box Shadows
$box-shadow-1: 0 3px 15px 10px rgba(0,0,0,.3);